.slideshow {
    position: relative;
    width: 100%;
    background: black;
}

.slideshow img {
    width: 100%;
}

.slideshow-hidden {
    display: none;
}

.slideshow-show {
    display: block;
}

.slideshow-thumbnails {
    width: 100%;
    height: 10vh;
    display: flex;
}

.slideshow-thumbnails-column {
    flex: 33.33%;
    padding: 5px;
    cursor: pointer;
}