<div class="container" style="margin-top: 10px">
    <div class="row">
        <div *ngIf="isEmpty(item)">
            <div class="alert alert-warning" role="alert"> {{'no_products_found' | language:_languageService.currentLanguage }}
            </div>
            <div class="loader" [ngStyle]="{'display:none': finishedLoading==true}"></div>
        </div>
        <div class="col-md-4 single-right-left ">
            <!-- <div class="grid images_3_of_2">
        <img class="zoom-img" style="width: 100%" src="../../../assets/img/items/{{item.img | firstImage}}?w=400"
          attr.data-zoom="../../../assets/img/items/{{item.img | firstImage}}?w=1200"
          onError="this.src='../../../../assets/img/items/no-image.jpg'">
      </div>-->
            <div class="slideshow">
                <div *ngFor="let imageUrl of item.img | arrayImage; let i = index">
                    <img src="../../../assets/img/items/{{imageUrl}}" [ngClass]="'zoom-img' + i" [ngStyle]="{'opacity':getOpacity(i),'display':getDisplay(i)}" attr.data-zoom="../../../assets/img/items/{{imageUrl}}?w=1200">
                </div>
            </div>
            <br>
            <div class="slideshow-thumbnails">
                <div *ngFor="let imageUrl of item.img | arrayImage; let i = index" class="slideshow-thumbnails-column" (click)="changeImage(i)">
                    <img src="../../../assets/img/items/{{imageUrl}}" width="50">
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem zoom-pane" style="background-color: rgba(255, 255, 255, 0.6)">
            <h3>{{item | languageDatabase:_languageService.currentLanguage:'item_name'}}</h3>
            <br>
            <p>
                <span class="item_price">${{ currentPrice }}</span>
                <del>- ${{ currentPrice + getOldPrice() }}</del>
            </p>
            <br>
            <div class="description">
                <h5>{{item | languageDatabase:_languageService.currentLanguage:'item_description'}}</h5>
            </div>
            <br>
            <button class="btn btn-primary" [routerLink]="['/cart',item.id]">{{'add_to_cart' | language:_languageService.currentLanguage }}</button>
        </div>
    </div>

    <div class="row" style="margin-top: 3rem">
        <h3>{{'comments_item_view' | language:_languageService.currentLanguage }}</h3>
    </div>
    <div class="row">
        <div class="col-md-6" *ngIf="ratingsOnProduct.length<=0">
            <div class="alert alert-warning" role="alert">{{'empty_rating_comment_list' | language:_languageService.currentLanguage }}
            </div>
        </div>
        <div id="comment-list" class="col-md-6" *ngIf="ratingsOnProduct.length>0">
            <div *ngFor="let comment of ratingsOnProduct">
                <mdb-card style="margin: 5px">
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>{{comment.user_name}}</h4> <span> {{comment.rating_date | date:'dd-M-yyyy HH:mm:ss'}}</span>
                        </mdb-card-title>
                        <mdb-card-text>{{comment.comment}}</mdb-card-text>
                        <div class="flex-row">
                            <p style="color: darkgoldenrod">
                                <star-rating [value]="comment.rating" checkedcolor="darkgoldenrod" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
                            </p>
                        </div>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div id=comment-form class="col-md-6">
            <h5 *ngIf="userHasRated && !ratingReadOnly">{{'update_rating' | language:_languageService.currentLanguage }}</h5>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="postRating(f)">
                <div class="form-group">
                    <label for="comment">{{'rating_comment' | language:_languageService.currentLanguage }} *</label>
                    <textarea [(ngModel)]="rating.comment" name="comment" type="text" class="form-control" id="comment" placeholder="{{'rating_comment_placeholder' | language:_languageService.currentLanguage }}" required></textarea>
                </div>


                <div class="form-group">
                    <label for="status">{{'rating_form_label' | language:_languageService.currentLanguage }} *</label>
                    <p style="color: darkgoldenrod">
                        <star-rating [value]="rating.rating" checkedcolor="darkgoldenrod" uncheckedcolor="black" size="24px" [readonly]="ratingReadOnly" (rate)="onRate($event)"></star-rating>

                    </p>
                </div>
                <button *ngIf="!userHasRated" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fas fa-comments"></i>
                          {{'rating_form_publish' | language:_languageService.currentLanguage }}
                        </button>
                <button *ngIf="userHasRated && !ratingReadOnly" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fas fa-comments"></i>
                            {{'update_rating_button' | language:_languageService.currentLanguage }}
                        </button>
                <button *ngIf="!ratingReadOnly" (click)="clearForm()" type="button" class="btn btn-warning waves-effect waves-light">{{'rating_form_clear' | language:_languageService.currentLanguage }}</button>
            </form>
        </div>

    </div>
</div>