<div class="container">
    <h3>Registrarse</h3>
    <form #f="ngForm" (ngSubmit)="register(f)" ngNativeValidation>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="Ingresar nombre" required>
            <div class="alert alert-danger" *ngIf="name.errors?.required && name.touched">
                <small>Este campo es requerido</small>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" aria-describedby="emailHelp" placeholder="Ingresar email" required>
            <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">
                <small>Este campo es requerido</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Ingresar Password" required>
        </div>
        <div class="form-group">
            <label>Repetir Password</label>
            <input type="password" class="form-control" [(ngModel)]="password2" name="passwordRepeat" #passwordR="ngModel" placeholder="Ingresar Password de nuevo" required>
            <div class="alert alert-danger" *ngIf="errorMsg='PASSWORD'">
                <small>Las contraseñas son diferentes</small>
            </div>
        </div>



        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
    <hr>
    <h4>Si no tienes cuenta</h4>
    <button type="button" routerLink="/register" class="btn btn-outline-primary">Registrate</button>
</div>