<div class="container">
    <h3>Registrarse</h3>
    <form>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" placeholder="Ingresar nombre">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ingresar email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Ingresar Password">
        </div>
        <div class="form-group">
            <label>Repetir Password</label>
            <input type="password" class="form-control" name="passwordRepeat" placeholder="Ingresar Password de nuevo">
        </div>


        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
    </form>
    <hr>
    <h4>Si no tienes cuenta</h4>
    <button type="button" routerLink="/register" class="btn btn-outline-primary">Registrate</button>
</div>