<div class="container">
    <h3>
        {{'signup' | language:_languageService.currentLanguage }}
    </h3>
    <form #f="ngForm" (ngSubmit)="register(f)" ngNativeValidation>
        <div class="form-group">
            <label>{{'register_name' | language:_languageService.currentLanguage }}</label>
            <input type="text" class="form-control" [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="{{'register_enter_name' | language:_languageService.currentLanguage }}" required>
            <div class="alert alert-danger" *ngIf="name.errors?.required && name.touched">
                <small>{{'required_field' | language:_languageService.currentLanguage }}</small>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" aria-describedby="emailHelp" placeholder="{{'enter_email' | language:_languageService.currentLanguage }}" required>
            <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">
                <small>{{'required_field' | language:_languageService.currentLanguage }}</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="{{'enter_password' | language:_languageService.currentLanguage }}" required>
        </div>
        <div class="form-group">
            <label>{{'repeat_password' | language:_languageService.currentLanguage }}</label>
            <input type="password" class="form-control" [(ngModel)]="password2" name="passwordRepeat" #passwordR="ngModel" placeholder="{{'enter_password_again' | language:_languageService.currentLanguage }}" required>
            <div class="alert alert-danger" *ngIf="errorMsg=='PASSWORD'">
                <small>{{'different_passwords' | language:_languageService.currentLanguage }}</small>
            </div>
        </div>
        <div class="form-group">
            <label>{{'register_address' | language:_languageService.currentLanguage }}</label>
            <textarea type="text" class="form-control" [(ngModel)]="user.address" name="address" #address="ngModel" placeholder=" {{'register_enter_address' | language:_languageService.currentLanguage }}" required></textarea>
            <div class="alert alert-danger" *ngIf="address.errors?.required && address.touched">
                <small>{{'required_field' | language:_languageService.currentLanguage }}</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{'signup' | language:_languageService.currentLanguage }}</button>
    </form>
    <hr>
    <h4>{{'if_you_have_account' | language:_languageService.currentLanguage }}</h4>
    <button type="button" routerLink="/login" class="btn btn-outline-primary">{{'sigin' | language:_languageService.currentLanguage }}</button>
</div>