<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">
        <img class="img-fluid" src="../../../assets/img/logo.png" style="width: 50%;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">{{'home' | language:_languageService.currentLanguage }}</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'clothes' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/catalog','1']">{{'men' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','2']">{{'women' | language:_languageService.currentLanguage }}</a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'accesories' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/catalog','3']">{{'pins' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','4']">{{'buttons' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','5']">{{'crystal' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','6']">{{'jewels' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','7']">{{'wallets' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','8']">{{'keychains' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','9']">{{'purses' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','10']">{{'patches' | language:_languageService.currentLanguage }}</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'plushies_and_figures' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/catalog','11']">{{'plushies' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','12']">{{'pillows' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','13']">{{'sculture' | language:_languageService.currentLanguage }}</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'paper_art' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/catalog','14']">{{'sketchbook' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','15']">{{'separator' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','16']">{{'stickers' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','17']">{{'prints' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','18']">{{'postals' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','19']">{{'serigraphs' | language:_languageService.currentLanguage }}</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'comics' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/catalog','20']">{{'emmy' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','21']">{{'underneath' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','22']">{{'guests' | language:_languageService.currentLanguage }}</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'about' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a routerLink="/contact">{{'contact' | language:_languageService.currentLanguage }}</a>
                   
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="_userService.isAdmin()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{'admin' | language:_languageService.currentLanguage }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/inventory">{{'inventory' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" routerLink="/category">{{'categories' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" routerLink="/subcategory">{{'subcategories' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" routerLink="/user">{{'users' | language:_languageService.currentLanguage }}</a>
                    <a class="dropdown-item" routerLink="/inventoryList">{{'lists' | language:_languageService.currentLanguage }}</a>
                </div>
            </li>

        </ul>
    </div>
    <div class="icons-menu">
        <ul class="navbar-nav collapse navbar-collapse">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a *ngIf="!_userService.loggedUser"><img class="img-fluid" src="../../../assets/img/04_Icon_person.png" alt=""></a>
                    <i *ngIf="_userService.loggedUser" class="fas fa-user-check fa-2x" style="color: yellowgreen"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a *ngIf="!_userService.loggedUser" class="dropdown-item" routerLink="/login">{{'sigin' | language:_languageService.currentLanguage }}</a>
                    <a *ngIf="!_userService.loggedUser" class="dropdown-item" routerLink="/register">{{'signup' | language:_languageService.currentLanguage }}</a>
                    <a *ngIf="_userService.loggedUser" class="dropdown-item" routerLink="/profile"><i class="fas fa-user-circle"></i> {{_userService.loggedUser.name | firstWord}}</a>
                    <a *ngIf="_userService.loggedUser" class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> {{'logout' | language:_languageService.currentLanguage }}</a>

                </div>
            </li>
            <li>
                <a (click)="basicModal.show()"><img class="img-fluid" src="../../../assets/img/05_search.png" alt=""></a>
            </li>
            <li>
                <a routerLink="/cart"><img class="img-fluid" src="../../../assets/img/06_shopping cart.png" alt=""></a>
            </li>
            <li>
                <a (click)="changeLanguage(0)" *ngIf="_languageService.currentLanguage=='spanish'"><img class="img-fluid" src="../../../assets/img/MX_color.png" alt=""></a>
                <a (click)="changeLanguage(0)" *ngIf="_languageService.currentLanguage!='spanish'"><img class="img-fluid" src="../../../assets/img/MX_B&W.png" alt=""></a>
            </li>
            <li>
                <a (click)="changeLanguage(1)" *ngIf="_languageService.currentLanguage=='english'"><img class="img-fluid" src="../../../assets/img/USA_color.png" alt=""></a>
                <a (click)="changeLanguage(1)" *ngIf="_languageService.currentLanguage!='english'"><img class="img-fluid" src="../../../assets/img/USA_B&W.png" alt=""></a>
            </li>

        </ul>
    </div>
</nav>

<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]='{backdrop: false, ignoreBackdropClick: true}'>
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
              </button>

            </div>
            <div class="modal-body">
                <input mdbInput type="text" name="searchTerm" [(ngModel)]="searchTerm" id="searchTerm" class="form-control" placeholder="{{'searchPlaceholder' | language:_languageService.currentLanguage }}" (keydown)="search($event)">
            </div>
            <!-- <div class="modal-footer">
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Buscar</button>
            </div> -->
        </div>
    </div>
</div>