<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
         Raven Ink
      </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
            <img src="//placehold.it/40?text=LOGO" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">

            <li class="nav-item" style="position: relative;bottom: 8px;">
                <a routerLink="home" class="nav-link m-2 menu-item nav-active">Inicio</a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ropa
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Hombre</a>
                    <a class="dropdown-item" href="#">Mujer</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Accesorios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Pines</a>
                    <a class="dropdown-item" href="#">Botones</a>
                    <a class="dropdown-item" href="#">Cristal</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','6']">Bisuteria</a>
                    <a class="dropdown-item" href="#">Carteras</a>
                    <a class="dropdown-item" href="#">Llaveros</a>
                    <a class="dropdown-item" href="#">Monederos</a>
                    <a class="dropdown-item" href="#">Parches</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Peluches y Figuras
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Peluches</a>
                    <a class="dropdown-item" href="#">Almohadas</a>
                    <a class="dropdown-item" href="#">Esculturas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Arte en papel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sketchbooks</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','15']">Separadores</a>
                    <a class="dropdown-item" [routerLink]="['/catalog','16']">Stickers</a>
                    <a class="dropdown-item" href="#">Prints</a>
                    <a class="dropdown-item" href="#">Postales</a>
                    <a class="dropdown-item" href="#">Serigrafías</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Comic's
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Emmy</a>
                    <a class="dropdown-item" href="#">Underneath</a>
                    <a class="dropdown-item" href="#">Invitados</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Acerca de 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Contacto</a>
                    <a class="dropdown-item" href="#">Nosotros</a>
                </div>
            </li>

            <li *ngIf="!_userService.loggedUser" class="nav-item" style="position: relative;bottom: 8px;">
                <a routerLink="/login" class="nav-link m-2 menu-item nav-active">Inicia Sesion</a>
            </li>

            <h3 *ngIf="_userService.loggedUser"><span class="badge badge-secondary">Bienvenido {{_userService.loggedUser.name}}</span></h3>
            <button *ngIf="_userService.loggedUser" (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0" type="button">Salir </button>

        </ul>
    </div>
</nav>