<!-- header -->
<div class="header" id="home">
    <div class="container">
        <ul>
            <li *ngIf="!_userService.loggedUser"> <a routerLink="/login"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Iniciar Sesion </a></li>
            <li *ngIf="!_userService.loggedUser"> <a routerLink="/register"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Registrate </a></li>
            <li *ngIf="_userService.loggedUser"> <a routerLink="/profile"><i class="fas fa-user-alt" aria-hidden="true"></i> Bienvenido {{_userService.loggedUser.name}} </a></li>
            <li style="width: 30px;" *ngIf="_userService.loggedUser"> <a (click)="logout()"><i class="fas fa-sign-out-alt"style="display: inline-block;width: 100% "  aria-hidden="true"></i> </a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 01234567898</li>
            <li style="width: 30px;"><i class="fa fa-envelope-o" style="display: inline-block;width: 100% " aria-hidden="true"></i>
                <a href="mailto:info@example.com"></a>
            </li>
        </ul>
    </div>
</div>

<!-- header-bot -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 header-middle">
            <form action="#" method="post">
                <input class="searchtext" type="search" name="search" placeholder="Buscar..." required="">
                <input type="submit" value=" " data-toggle="collapse" data-target="#searchtext">
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-3 logo_agile" style="height: 5em; position: relative ">
            <h1><a href="index.html"><span>R</span>aven Ink </a></h1>
        </div>
        <!-- header-bot -->
        <div class="col-md-3 agileits-social top_content">
            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                <li class="share"></li>
                <li>
                    <a href="https://www.facebook.com/Raven-Ink-Store-348896548904163/" class="facebook" target="_blank">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/raveninkstore" class="twitter" target="_blank">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/raveninkstore" class="instagram" target="_blank">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>



        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header-bot -->

<!--// header -->