<div class="container">
    <h2>Lo mas vendido</h2>
    <div class="card-group">
        <div class="card" *ngFor="let item of items">
            <img class="card-img-top" src="../../../../src/assets/img/items/{{item.code}}.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.item_name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <button class="btn btn-primary" [routerLink]="['/item',item.id]">Ver</button>
                <button class="btn btn-success">Comprar</button>
            </div>
        </div>

    </div>
</div>

<!-- <img style=" display: block;margin-left: auto;margin-right: auto;width: 50%;" src="../../../assets/img/building-site.jpg"> -->