<!-- <div class="container">
    <h2>Lo mas vendido</h2>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Emmy</h5>
                <p class="card-text">Comic bien bonito :)</p>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Stickers de Cthulu</h5>
                <p class="card-text">Plantilla de stickers de 10x10</p>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cuervo de peluche</h5>
                <p class="card-text">Rifado el cuervito</p>

            </div>
        </div>
    </div>
</div> -->

<img style=" display: block;margin-left: auto;margin-right: auto;width: 50%;" src="../../../assets/img/building-site.jpg">