<!--
<div class="card">
    <div class="card-body">


        <div class="row">
            <div class="col-md-12">


                <ul class="stepper stepper-horizontal">


                    <li class="completed">
                        <a>
                            <span class="circle">1</span>
                            <span class="label">Ver tu producto</span>
                        </a>
                    </li>


                    <li class="active">
                        <a>
                            <span class="circle">2</span>
                            <span class="label">Carrito</span>
                        </a>
                    </li>


                    <li class="">
                        <a href="#!">
                            <span class="circle">3</span>
                            <span class="label">Forma de pago</span>
                        </a>
                    </li>

                </ul>


            </div>
        </div>


    </div>
</div>


<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th class="black white-text">Nombre</th>
                <td>{{item.item_name}}</td>

            </tr>
            <tr>
                <th class="black white-text">Descripcion</th>
                <td>{{item.description}}</td>
            </tr>
            <tr>
                <th class="black white-text">Existencia</th>
                <td>{{item.existance}}</td>
            </tr>
            <tr>
                <th class="black white-text">Entregar a</th>
                <td>{{_userService.loggedUser?.name}}</td>
            </tr>
            <tr>
                <th class="black white-text">En</th>
                <td>{{_userService.loggedUser?.address}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <form>


        <div class="form-group row">

            <label for="existance" class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-10">
                <div class="md-form mt-0">
                    <input type="number" (ngModelChange)="validateExistance($event)" [(ngModel)]="existance" class="form-control" name="existance" placeholder="Cantidad" value="1">
                </div>
            </div>
        </div>




        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success btn-md" (click)="checkoutPage()">Forma de pago</button>
            </div>
        </div>

    </form>
</div>
 -->

 <img style=" display: block;margin-left: auto;margin-right: auto;width: 50%;" src="../../../assets/img/building-site.jpg">
