<div id="footer-ri">
    <div class="container">
        <div class="row" style="padding-top: 8em; color:seashell">
            <div class="col-md-3">
                <div class="footer-header">
                    <span> {{'about_shopisle' | language:_languageService.currentLanguage }}</span>
                </div>
                <ul>
                    <li>{{'about_shopisle_text' | language:_languageService.currentLanguage }}</li>
                    <li>{{'phone' | language:_languageService.currentLanguage }}: 55 28287432</li>

                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-header">
                    <span>{{'recent_comments' | language:_languageService.currentLanguage }}</span>
                </div>
                <ul>
                    <li *ngFor="let comment of lastRatings">{{comment.user_name}} on <a [routerLink]="['/item',comment.item_id]">{{comment.item_name}}</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-header">
                    <span>{{'top_rated_products' | language:_languageService.currentLanguage }}</span>
                </div>
                <ul>
                    <li *ngFor="let item of bestItems">{{item.item_name}}
                        <star-rating [value]="item.rating_promedio" checkedcolor="darkgoldenrod" uncheckedcolor="black" size="14px" readonly="true"></star-rating>
                    </li>


                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-header">
                    <span>{{'product_categories' | language:_languageService.currentLanguage }}</span>
                </div>
                <ul>
                    <li *ngFor="let category of randomCategories">{{category | languageDatabase:_languageService.currentLanguage:'category_name'}}</li>

                </ul>
            </div>
        </div>

        <div class="row" style="padding-top: 2em; color:seashell; text-align: center">
            <div class="col-md-6" style="text-align: center">
                <h4>{{'find_us_at' | language:_languageService.currentLanguage }}: </h4>
            </div>
            <div class="col-md-1" style="text-align: center">
                <a href="https://es-la.facebook.com/BurendoDesignShop/" target="_blank">
                    <img class="img-fluid" src="../../../assets/img/Socios_01.png" width="60" alt="">
                </a>
            </div>
            <div class="col-md-1" style="text-align: center">
                <a href="https://conque.mx" target="_blank">
                    <img class="img-fluid" src="../../../assets/img/Socios_02.png" width="60" alt="">
                </a>
            </div>
            <div class="col-md-1" style="text-align: center">
                <a href="https://www.lamole.com.mx/" target="_blank">
                    <img class="img-fluid" src="../../../assets/img/Socios_03.png" width="60" alt="">
                </a>
            </div>
            <div class="col-md-1" style="text-align: center">
                <a href="https://es-la.facebook.com/bazardebandasoficial/" target="_blank">
                    <img class="img-fluid" src="../../../assets/img/Socios_04.png" width="60" alt="">
                </a>
            </div>

        </div>
        <div class="row" style="padding-top: 1em; color:seashell">
            <span>2019 Raven Ink. {{'all_rights' | language:_languageService.currentLanguage }}</span>
            <div class="col-md-3 ">
                <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                    <li class="share"></li>
                    <li>
                        <a href="https://www.facebook.com/Raven-Ink-Store-348896548904163/" target="_blank">
                            <div class="front">
                                <img class="img-fluid" src="../../../assets/img/01_Facebook.png" alt="">
                            </div>
                            <div class="back">
                                <img class="img-fluid" src="../../../assets/img/01_Facebook.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/raveninkstore" target="_blank">
                            <div class="front">
                                <img class="img-fluid" src="../../../assets/img/02_Twitter.png" alt="">
                            </div>
                            <div class="back">
                                <img class="img-fluid" src="../../../assets/img/02_Twitter.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/raveninkstore" target="_blank">
                            <div class="front">
                                <img class="img-fluid" src="../../../assets/img/03_Instagram.png" alt="">
                            </div>
                            <div class="back">
                                <img class="img-fluid" src="../../../assets/img/03_Instagram.png" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>​​​​​​​​​