<div id="footer-ri">
    <div class="container">
        <div class="row" style="padding-top: 8em; color:seashell">
            <div class="col-md-3">
                <div class="footer-header">
                    <span>About Shopisle</span>
                </div>
                <ul>
                    <li>The Languages only differ in their pronunciation and their most common words</li>
                    <li>Phone: 5512341234</li>

                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-header">
                    <span>Recent Comments</span>
                </div>
                <ul>
                    <li>codeinwp on Surplus Overalls</li>
                    <li>codeinwp on White undershirt</li>
                    <li>Gerhard on Mauve dress</li>
                    <li>Maria on Blue & Red Shirt</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-header">
                    <span>Top rated products</span>
                </div>
                <ul>
                    <li>Mauve dress
                        <p style="color: yellow"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    </li>

                    <li>Surplus Overalls</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="footer-header">
                    <span>Product Categories</span>
                </div>
                <ul>
                    <li>Blouse</li>
                    <li>Clothing</li>
                    <li>Dresses</li>
                </ul>
            </div>
        </div>

        <div class="row" style="padding-top: 2em; color:seashell">
            <div style="text-align: center">
                <h4>Tambien nos encuentras en: </h4>
            </div>
        </div>
        <div class="row" style="padding-top: 2em; color:seashell">
            <span>2019 Raven Ink. All Rights Reserved</span>
            <div class="col-md-3 ">
                <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                    <li class="share"></li>
                    <li>
                        <a href="https://www.facebook.com/Raven-Ink-Store-348896548904163/" class="facebook" target="_blank">
                            <div class="front">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="back">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/raveninkstore" class="twitter" target="_blank">
                            <div class="front">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="back">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/raveninkstore" class="instagram" target="_blank">
                            <div class="front">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                            <div class="back">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>​​​​​​​​​